<h1>Informações da empresa</h1>

<h1> {{listarEmpresa.nome}} </h1>


<p>CNPJ: {{listarEmpresa.CNPJ}} </p>

<p>Email: {{listarEmpresa.email}} </p>

<p>Telefone: {{listarEmpresa.telefone}} </p>

<p> Local:  {{listarEmpresa.local}}  </p>
 
<a href="/empresa/edit/{{listarEmpresa.CNPJ}}"> EDITAR</a>

<br> <br>

<a href="/empresa/remove/{{listarEmpresa.CNPJ}}"> EXCLUIR</a>

