<head>
    <title>Editando {{editfuncionario.nome}}</title>
</head>

<h1>Editar informações de "{{editfuncionario.nome}}"</h1>
<hr>
<form action="/funcionario/updatefuncionario" method="post">
    <div class="form-control">
        <input type="hidden" name="CPF" id="CPF" value="{{editfuncionario.CPF}}">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" placeholder="Digite o nome do funcionario" value="{{editfuncionario.nome}}" 
    </div>
    <div class="form-control">
        <label for="Marca">Cargo:</label>
        <input type="text" name="cargo" placeholder="Digito o cargo" value="{{editfuncionario.cargo}}"
    </div>
    <div class="form-control">
        <label for="idade">Idade:</label>
        <input type="text" name="idade" placeholder="Digite a idade" value="{{editfuncionario.idade}}" 
    </div>
    <br>
    <input type="submit" value="Editar">
</form>