{{#each listardados}}

<head>
    <title>Funcionario "{{nome}}"</title>
</head>

<body>

    <h1>{{nome}}</h1>
    - CPF: {{cpf}}
    <br>
    - Cargo: {{cargo}}
    <br>
    - idade: {{idade}}
    <br>
    <a href="/funcionario/editar/{{cpf}}">Editar dados</a>
    <a href="/funcionario/excluir/{{cpf}}">Excluir funcionario</a>
</body>
{{/each}}