{{#each listardados}}

<head>
    <title>Jogo de mesa "{{nome}}"</title>
</head>

<body>

    <h1>{{nome}}</h1>
    - Gênero: {{genero}}
    <br>
    - Descrição: {{descricao}}
    <br>
    - Preço: {{preco}}
    <br>
    <a href="/jogodemesa/editar/{{id}}">Edite suas informações</a>
    <a href="/jogodemesa/excluir/{{id}}">Excluir produto</a>
</body>
{{/each}}