{{#each listardados}}

<head>
    <title>Brinquedo "{{nome}}"</title>
</head>

<body>

    <h1>{{nome}}</h1>
    - Marca: {{marca}}
    <br>
    - Tipo de material: {{material}}
    <br>
    - Preço: {{preco}}
    <br>
    <a href="/brinquedo/editar/{{id}}">Edite suas informações</a>
    <a href="/brinquedo/excluir/{{id}}">Excluir cliente</a>
</body>
{{/each}}