<head>
    <title>{{buscarbrinquedo.nome}}</title>
</head>

<body>
    <h1>Resultado da pesquisa: {{buscarbrinquedo.nome}}</h1>
    <hr>
    - <strong>{{buscarbrinquedo.nome}}</strong>
   <br>
    - Modelo: {{buscarbrinquedo.marca}}
    <br>
    - Tipo: {{buscarbrinquedo.material}}
    <br>
    - Preço: {{buscarbrinquedo.preco}}
    <br>
    <a href="/brinquedo/editar/{{buscarbrinquedo.id}}">Edite suas informações</a>
    <a href="/brinquedo/excluir/{{buscarbrinquedo.id}}">Excluir cliente</a>
</body>